# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build directories
dist/
build/

# Hardhat / Ethereum artifacts
artifacts/
cache/
coverage/

# VS Code settings
.vscode/

# MacOS files
.DS_Store
